.bento-gallery-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #feebdf;
}

.bento-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 21vh);
  padding: 0 2.5rem;
  justify-content: center;
  align-content: center;
  will-change: transform;
}

.bento-gallery__item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  will-change: transform, opacity;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.bento-gallery__item:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}

.bento-gallery__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.bento-gallery__item:nth-child(3) {
  grid-area: 2 / 2 / 4 / 3;
}

.bento-gallery__item:nth-child(4) {
  grid-area: 1 / 3 / 3 / 4;
}

.bento-gallery__item:nth-child(5) {
  grid-area: 3 / 1 / 4 / 2;
}

.bento-gallery__item:nth-child(6) {
  grid-area: 3 / 3 / 5 / 4;
}

.bento-gallery__item:nth-child(7) {
  grid-area: 4 / 1 / 5 / 2;
}

.bento-gallery__item:nth-child(8) {
  grid-area: 4 / 2 / 5 / 3;
}

@media (max-width: 768px) {
  .bento-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 18vh);
    gap: 8px;
    padding: 0 1rem;
  }
}
